@{
    ViewBag.Title = "Save";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<form method="post">
    <p>
        <textarea name="content"></textarea>
    </p>
    <p>
        <input type="submit" value="提交" /> 
    </p>
</form>
<script>
    CKEDITOR.replace('content');
</script>

<script type="text/javascript">
    var SelectItem;
    $(function () { 
        function GetSelectItem() {
            $.ajax({
                url: "@Url.Action("GetSelectItem")",
                data: {},
                type: "get",
                async: false,
                success: function (data) {
                    SelectItem = data;
                },
                error: function (data) {
                    alert("数据获取出错，请稍后重试或联系管理员！");
                }
            })
        }
         GetSelectItem();
    })

</script>